@import "tailwindcss";

:root {
  --primary-bg-theme: #ffffff;
  --secondary-bg-theme: #F2F7FA;
  --foreground: #171717;
  --primary-navy-blue: #597BE8;
  --primary-dark-gray: #1C202F;
  --secondary-dark-gray: #3C4566;
  --tertiary-dark-gray:#414651;
  --quaternary-dark-gray:#757575;
  --primary-light-gray:#4B5563;
  --secondary-light-gray:#CDCDCD;


}

@theme inline {
  --color-primary-bg-theme: var(--primary-bg-theme);
  --color-secondary-bg-theme: var(--secondary-bg-theme);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-dark-gray: var(--primary-dark-gray);
  --color-secondary-dark-gray: var(---secondary-dark-gray);
   --color-primary-navy-blue: var(--primary-navy-blue);
   --color-quaternary-dark-gray: var(--quaternary-dark-gray);
   --color-quaternary-dark-gray: var(--tertiary-dark-gray);
   --color-primary-light-gray: var(--primary-light-gray);
   --color-secondary-light-gray: var(--secondary-light-gray);



}

/* CUSTOM ANIMATIONS (LOOPING FORMAT) */

@layer utilities {
  /* Fade In */
  .animate-fadeIn {
    animation: fadeIn 2s linear infinite;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /* Fade Out (acts similar to fadeIn for looping) */
  .animate-fadeOut {
    animation: fadeOut 2s linear infinite;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Zoom In */
  .animate-zoomIn {
    animation: zoomIn 2s linear infinite;
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0.9);
    }
  }

  /* Zoom Out */
  .animate-zoomOut {
    animation: zoomOut 2s linear infinite;
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1.1);
    }
  }

  /* Scale Up */
  .animate-scaleUp {
    animation: scaleUp 2s linear infinite;
  }
  @keyframes scaleUp {
    0% {
      transform: scale(0.95);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.95);
    }
  }

  /* Scale Down */
  .animate-scaleDown {
    animation: scaleDown 2s linear infinite;
  }
  @keyframes scaleDown {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.90);
    }
    100% {
      transform: scale(1);
    }
  }

  /* Bounce */
  .animate-bounce {
    animation: bounce 2s linear infinite;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  /* Slide In Left */
  .animate-slideInLeft {
    animation: slideInLeft 2s linear infinite;
  }
  @keyframes slideInLeft {
    0% {
      transform: translateX(-5%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-5%);
    }
  }

  /* Slide In Right */
  .animate-slideInRight {
    animation: slideInRight 2s linear infinite;
  }
  @keyframes slideInRight {
    0% {
      transform: translateX(-10%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-10%);
    }
  }

  /* Slide In Top */
  .animate-slideInTop {
    animation: slideInTop 2s linear infinite;
  }
  @keyframes slideInTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  /* Slide In Bottom */
  .animate-slideInBottom {
    animation: slideInBottom 2s linear infinite;
  }
  @keyframes slideInBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--primary-bg-theme)
  }
}

.neo-down {
  @apply shadow-[inset_1px_1px_4px_#e5e5e5,inset_-3px_-3px_7px_#f9fafb];
}

.react-datepicker {
  border: 0 !important;
  width: 100% !important;
}

.react-datepicker__header {
  background: #16a34a !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: white !important;
}

.react-datepicker__day-name {
  color: white !important;
}

.react-datepicker__day--selected:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-selecting-range:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__month-text--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__quarter-text--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__year-text--in-range:not([aria-disabled="true"]):hover {
  background-color: #16a34a !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    background-color: #22c55e !important;
}

.react-datepicker__month-container {
  width: 100% !important;
}

.theme-shadow {
  @apply shadow-[0px_0px_12px_0px_rgba(0,0,0,0.04)];
}