@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.neo-up {
  @apply shadow-[3px_3px_7px_#d4d4d4,-3px_-3px_5px_#f3f4f6];
}
.neo-down {
  @apply shadow-[inset_3px_3px_5px_#d4d4d4,inset_-3px_-3px_7px_#f3f4f6];
}
