@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #16a34a;
  --secondary-green: #22c55e;
  --light-stroke: #597be84d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-light-stroke: var(--light-stroke);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.neo-down {
  @apply shadow-[inset_1px_1px_4px_#e5e5e5,inset_-3px_-3px_7px_#f9fafb];
}

.react-datepicker {
  border: 0 !important;
  width: 100% !important;
}

.react-datepicker__header {
  background: #16a34a !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: white !important;
}

.react-datepicker__day-name {
  color: white !important;
}

.react-datepicker__day--selected:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-selecting-range:not([aria-disabled="true"]):hover,
.react-datepicker__day--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__month-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__month-text--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__quarter-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__quarter-text--in-range:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--selected:not([aria-disabled="true"]):hover,
.react-datepicker__year-text--in-selecting-range:not(
    [aria-disabled="true"]
  ):hover,
.react-datepicker__year-text--in-range:not([aria-disabled="true"]):hover {
  background-color: #16a34a !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #22c55e !important;
}

.react-datepicker__month-container {
  width: 100% !important;
}

.theme-shadow {
  @apply shadow-[0px_0px_12px_0px_rgba(0,0,0,0.04)];
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker {
  padding: 7px 11px 6px;
  border-color: #d1d5db;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-outlined:hover {
  border-color: #d1d5db;
  box-shadow: none;
}

.ant-picker .ant-picker-input input::placeholder {
  color: black;
}

.ant-picker .ant-picker-suffix .anticon {
  color: black;
}
.ant-picker .ant-picker-separator .anticon-swap-right {
  color: black;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-disabled
  )
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
    .ant-picker-cell-disabled
  )
  .ant-picker-cell-inner {
  background: #597be8;
}
:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-cell
  .ant-picker-cell-inner {
  border-radius: 9px;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-cell
  .ant-picker-cell-inner {
  border-radius: 9px;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-header
  button {
  color: black;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-header-view
  > button:hover {
  color: #597be8;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-header-view {
  background: #597be80d;
  border-radius: 10px;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-header {
  padding: 8px;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-panel-container
  .ant-picker-presets
  ul
  li:hover {
  background: #597be81a;
}
:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-panel-container
  .ant-picker-presets
  ul
  li {
  padding: 6px;
}
:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-panel-container
  .ant-picker-presets
  ul {
  padding: 8px 5px;
  color: #3c4566;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-content
  th {
  color: #7782ae;
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-content
  td {
  font-weight: 600;
  color: #3c4566;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell
  .ant-picker-cell-inner {
  color: #3c4566;
}

:where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
  .ant-picker-cell:not(.ant-picker-cell-in-view)
  .ant-picker-cell-inner {
  color: #bdbdbd;
}

@media (max-width: 760px) {
  :where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
    .ant-picker-panel-container
    .ant-picker-panels {
    display: inline-block;
    width: 289px;
  }
}

@media (max-width: 450px) {
  :where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
    .ant-picker-panel-container
    .ant-picker-panel-layout {
    display: block;
    flex-wrap: wrap;
    align-items: stretch;
  }

  :where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
    .ant-picker-panel-container
    .ant-picker-presets {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    height: 100px;
  }
  :where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
    .ant-picker-panel-container
    .ant-picker-presets
    ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    padding: 10px;
    border-inline-end: 0;
  }
  :where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown
    .ant-picker-panel-container
    .ant-picker-presets
    ul
    li
    + li {
    margin-top: 0px;
  }
  :where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown {
    left: 50px !important;
  }
}
@media (max-width: 350px) {
  :where(.css-dev-only-do-not-override-ut69n1).ant-picker-dropdown {
    left: 15px !important;
  }
}
